@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Inter', sans-serif;
  }
}

body {
  font-family: var(--font-sans);
}

h1, h2 {
  font-family: var(--font-serif);
}

.hero-section {
  background: linear-gradient(to right, #E8DDC9, #C6B4A0, #B8A693);
}