@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;

  --color-gold-400: #CAB073;
  --color-gold-500: #B89A5C;

  --color-beige-100: #E8DDC9;
  --color-beige-200: #D9C9B0;
  --color-beige-300: #C6B4A0;
  --color-beige-400: #B8A693;
  --color-beige-500: #A68B7A;
  --color-beige-600: #806855;

}

body {
  font-family: var(--font-sans);
}

h1, h2, h3 {
  font-family: var(--font-serif);
}

h2 {
  color: #42352B;
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.bg-gradient {
  background: linear-gradient(to right, var(--color-beige-100), var(--color-beige-300), var(--color-beige-400));
}